<!--
============================================
; Title:  verify-security-questions-form.component.html
; Author: Professor Krasso
; Date: 23 Sep 2021
; Modified By: Kevin Jones
; Description: Verify security questions component HTML file
;===========================================
 -->

<div fxLayout="column" class="cardContainer">
  <mat-card style="margin: 10% 30% 10% 30%" class="mat-elevation-z8">
    <mat-card-title class="mat-headline card-title"
      >Verify Security Questions</mat-card-title
    >

    <br />

    <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>

    <form
      *ngIf="selectedSecurityQuestions"
      [formGroup]="form"
      (ngSubmit)="verifySecurityQuestions()"
      #usernameForm
    >
      <mat-card-content fxLayout="column">
        <mat-form-field fxFlex appearance="fill">
          <mat-label>{{ question1 }} <span class="required"></span></mat-label>
          <input
            matInput
            [formControl]="form.controls['answerToSecurityQuestion1']"
          />

          <mat-error
            class="error"
            *ngIf="
              form.controls['answerToSecurityQuestion1'].hasError('required') &&
              form.controls['answerToSecurityQuestion1'].touched
            "
          >
            Required Field
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex appearance="fill">
          <mat-label>{{ question2 }} <span class="required"></span></mat-label>
          <input
            matInput
            [formControl]="form.controls['answerToSecurityQuestion2']"
          />

          <mat-error
            class="error"
            *ngIf="
              form.controls['answerToSecurityQuestion2'].hasError('required') &&
              form.controls['answerToSecurityQuestion2'].touched
            "
          >
            Required Field
          </mat-error>
        </mat-form-field>

        <mat-form-field fxFlex appearance="fill">
          <mat-label>{{ question3 }} <span class="required"></span></mat-label>
          <input
            matInput
            [formControl]="form.controls['answerToSecurityQuestion3']"
          />

          <mat-error
            class="error"
            *ngIf="
              form.controls['answerToSecurityQuestion3'].hasError('required') &&
              form.controls['answerToSecurityQuestion3'].touched
            "
          >
            Required Field
          </mat-error>
        </mat-form-field>

        <br /><br />
        <div fxFlex fxLayoutAlign="end" class="p5">
          <button
            mat-raised-button
            color="gryffindor"
          >
            Cancel
          </button>
          &nbsp;&nbsp;
          <button mat-raised-button [disabled]="!form.valid" color="secondary">
            Verify Security Questions
          </button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
