<!---------------------
; Title: Contact Component
; Date: 27 September 2021
; Author: George Henderson
; Description: HTML template for the contact component.
--------------------->

<div fxLayoutAlign="center center" style="margin: 5% auto auto; width: 50%;">
  <h3>Hours</h3>
  <ul>
    <li>Mon - Fri: 7am-5pm</li>
    <li>Sat - Sun: 7am-3pm</li>
  </ul>
</div>

<br><br>
<mat-card class="mat-elevation-z8" style="width: 80%; margin: auto;">

  <mat-card-content>
    <div fxLayout="row wrap">
          <div fxFlex>
            <div class="contactGroup">

                <mat-icon color="primary">navigation</mat-icon>

              <br />
              <br />

              <div class="align-center">
                <p>3579 N 22nd Street</p>
                <p>Omaha, Nebraska</p>
              </div>
            </div>
          </div>

          <div fxFlex>
            <div class="contactGroup">

              <mat-icon color="primary">phone</mat-icon>

              <br />
              <br />

              <div class="align-center">
                <p>Direct: 555-555-5555</p>
                <p>Toll-free: 1-888-555-5555</p>
                <p>Fax: 555-555-5555</p>
              </div>
            </div>
          </div>
    </div>
  </mat-card-content>
</mat-card>

<br />
<br />

<div fxLayoutAlign="center center">
  <p style="width: 40%;">
    If you have any questions or concerns please call the number above. Otherwise, we hope to have the pleasure to see you in the store!
  </p>
</div>




