<!--
============================================
; Title:  not-found.component.html
; Author: Kevin Jones
; Date: 26 Sep 2021
; Description: Not found component HTML file
;===========================================
 -->

<body>
  <div fxLayout="column">
    <mat-card-content style="text-align: center">
      <h1 class="error">Alas! This page does not exist!</h1>
      <img src="../../../assets/404.webp" />

      <h3 class="four0four">404</h3>

      <button mat-raised-button color="secondary" routerLink="/">
        Go back
      </button>
    </mat-card-content>
  </div>
</body>
