/*
============================================
; Title:  user-list.component.css
; Author: Kevin Jones
; Date: 18 Sep 2020
; Description: User list component CSS file
;===========================================
*/

.mat-row:hover {
  background-color: #0000000a;
}

mat-card {
  margin: 1% 20% 1% 20%;
}

@media (max-width: 1300px) {
  mat-card {
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 984px) {
  mat-card {
    width: 98%;
    margin: auto;
  }
}
