/*==============================
; Title: verify-username-form.component.css
; Date: 27 September 2021
; Author: Kevin Jones
; Description: Styles for verify-username form component.
==============================*/

.cardContainer {
  height: 100%;
  background: url("../../../../assets/Gryffindor_Background.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

mat-card {
  margin: 10% 30% 10% 30%;
}

@media (max-width: 540px) {
  mat-card {
    width: 80%;
    margin: auto;
  }
}
