<!--
============================================
; Title:  verify-username-form.component.html
; Author: Professor Krasso
; Date: 23 Sep 2021
; Modified By: Kevin Jones
; Description: Verify username component HTML file
;===========================================
 -->

<div fxLayout="column" class="cardContainer">
  <mat-card style="margin: 10% 30% 10% 30%" class="mat-elevation-z8">
    <mat-card-title>Forgot Password</mat-card-title>
    <br />

    <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>

    <form
      [formGroup]="form"
      (ngSubmit)="validateUsername()"
      #usernameForm
    >
      <mat-card-content fxLayout="column">
        <mat-form-field fxFlex appearance="fill">
          <mat-label>Username <span class="required">*</span></mat-label>

          <input matInput [formControl]="form.controls['username']" />

          <mat-error
            class="error"
            *ngIf="
              form.controls['username'].hasError('required') &&
              form.controls['username'].touched
            "
          >
            Username is a required field.
          </mat-error>
        </mat-form-field>

        <br /><br />

        <div fxFlex fxLayoutAlign="end" class="p5">
          <button
            mat-raised-button
            color="gryffindor"
          >
            Cancel
          </button>
          &nbsp;&nbsp;
          <button mat-raised-button [disabled]="!form.valid" color="secondary">
            Forgot Password
          </button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
