<!--
============================================
; Title:  user-create.component.html
; Author: Professor Krasso
; Modified by: Kevin Jones
; Date: 17 Sep 2021
; Description: User create component HTML file
;===========================================
 -->

<div fxLayout="column">
  <mat-card style="margin: 1% 20% 1% 20%" class="mat-elevation-z8">
    <mat-card-title>Create User</mat-card-title>

    <br />
    <p-messages [(value)]="errorMessages" [enableService]="false"></p-messages>
    <form
      [formGroup]="form"
      (ngSubmit)="createUser()"
      #userForm
      (keydown.enter)="$event.preventDefault()"
    >
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="10px">
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input
              type="text"
              matInput
              [formControl]="form.controls['userName']"
            />

            <mat-error
              class="error"
              *ngIf="
                form.controls.userName.hasError('required') &&
                form.controls.userName.touched
              "
            >
              Username is a required field.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              type="password"
              matInput
              [formControl]="form.controls['password']"
            />

            <mat-error
              class="error"
              *ngIf="
                form.controls.password.hasError('required') &&
                form.controls.password.touched
              "
            >
              Password is a required field.
            </mat-error>

            <mat-error
              class="error"
              *ngIf="
                form.controls.password.hasError('pattern') &&
                form.controls.password.touched
              "
            >
              Password must be at least 8 characters, contain one letter, and
              one number.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input
              type="text"
              matInput
              [formControl]="form.controls['firstName']"
            />
            <mat-error
              class="error"
              *ngIf="
                form.controls.firstName.hasError('required') &&
                form.controls.firstName.touched
              "
            >
              First name is a required field.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Last name</mat-label>
            <input
              type="text"
              matInput
              [formControl]="form.controls['lastName']"
            />
            <mat-error
              class="error"
              *ngIf="
                form.controls.lastName.hasError('required') &&
                form.controls.lastName.touched
              "
            >
              Last name is a required field.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Phone number</mat-label>
            <input
              type="text"
              matInput
              [formControl]="form.controls['phoneNumber']"
            />
            <mat-error
              class="error"
              *ngIf="
                form.controls.phoneNumber.hasError('required') &&
                form.controls.phoneNumber.touched
              "
            >
              Phone number is a required field.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input
              type="text"
              matInput
              [formControl]="form.controls['address']"
            />
            <mat-error
              class="error"
              *ngIf="
                form.controls.address.hasError('required') &&
                form.controls.address.touched
              "
            >
              Address is a required field.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              type="text"
              matInput
              [formControl]="form.controls['email']"
            />
            <mat-error
              class="error"
              *ngIf="
                form.controls.email.hasError('required') &&
                form.controls.email.touched
              "
            >
              Email is a required field.
            </mat-error>

            <mat-error
              class="error"
              *ngIf="
                form.controls.email.hasError('email') &&
                form.controls.email.touched
              "
            >
              Invalid email format.
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <br />
      <mat-card-actions fxLayoutAlign="end">
        <button type="button" mat-raised-button (click)="cancel()" color="gryffindor">
          Cancel
        </button>
        <button type="submit" mat-raised-button [disabled]="!form.valid" color="secondary">
          Submit
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
