<!--
============================================
; Title:  reset-password-form.component.html
; Author: Professor Krasso
; Date: 23 Sep 2021
; Modified By: Kevin Jones
; Description: Reset password component HTML file
;===========================================
 -->

<div fxLayout="column" class="cardContainer">
  <mat-card style="margin: 10% auto" class="mat-elevation-z8">
    <mat-card-title>Reset Password</mat-card-title>

    <form
      [formGroup]="form"
      (ngSubmit)="resetPassword()"
      #resetPasswordForm
      (keydown.enter)="$event.preventDefault()"
    >
      <mat-card-content fxLayout="column">
        <mat-form-field fxFlex appearance="fill">
          <mat-label>Reset Password <span class="required">*</span></mat-label>
          <input
            matInput
            type="password"
            [formControl]="form.controls['password']"
          />

          <mat-error
            class="error"
            *ngIf="
              form.controls['password'].hasError('required') &&
              form.controls['password'].touched
            "
          >
            Password is a required field.
          </mat-error>

          <mat-error
            class="error"
            *ngIf="
              form.controls.password.hasError('pattern') &&
              form.controls.password.touched
            "
          >
            Password must be at least 8 characters, contain one letter, and one
            number.
          </mat-error>
        </mat-form-field>

        <br /><br />

        <div fxFlex fxLayoutAlign="end" class="p5" style="margin-top: 12px">
          <button
            mat-raised-button
            routerLink="/session/signin"
            color="gryffindor"
          >
            Cancel
          </button>
          &nbsp;&nbsp;
          <button mat-raised-button [disabled]="!form.valid" color="secondary">
            Reset Password
          </button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
