/*
============================================
; Title:  about.component.css
; Author: Kevin Jones
; Date: 26 Sep 2021
; Description: About component CSS file
;===========================================
*/

h1 {
  font-size: 3.5em;
  line-height: 1;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

.main {
  margin: 5em;
}

.img {
  margin-bottom: 3em;
}

@media (max-width: 1436) {
  .img {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 1067px) {
  .main {
    margin: 2em;
  }
}

@media (max-width: 768) {
  .main {
    margin: 2em;
  }
}

@media (max-width: 400px) {
  body {
    overflow: hidden;
  }
}
