<!--
============================================
; Title:  about.component.html
; Author: Kevin Jones
; Date: 26 Sep 2021
; Description: About component HTML file
;===========================================
 -->

<div fxLayout="row wrap" class="main">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../../../assets/about.webp" class="img" />
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1>Bob's Computer Repair Shop</h1>
    <p>
      The team at Bob's Computer Repair consists of passionate IT generalists,
      designers, and developers with a combined 61 years of experience in their
      respective fields. From humble beginnings, our team has worked tirelessly
      in order to build products that not only serve to make our customers'
      lives easier but also that they would enjoy using. Bob's Computer Repair
      is focused on developing and delivering both hardware & software solutions
      to individuals, businesses, and organizations with a business need. Our
      mission is to build solutions that we ourselves would love to use every
      day. This is what drives our process and ensures that everything that we
      do is high-quality. Our team works tirelessly in order to ensure that our
      customers are completely satisfied every time they use any of our
      Products. Whether you are an individual or small, mid-size, or large
      business we believe that our technology solutions will serve you well and
      make your life easier. On top of that our customer service is
      award-winning and we strive to deliver 100% satisfaction guaranteed. We
      strive for improvement and move fast so if you or your organization
      identify ways in which our products can improve or ways in which we can
      better serve you, please do not hesitate to contact us! Our team of
      dedicated professionals are trained and ready to provide personalized
      support to all of our clients whether individuals or businesses. As we
      continue this journey, we believe that our customers are at the center of
      our success and without you, we wouldn’t be where we are today.
    </p>
  </div>
</div>
