<div fxLayout="column">
    <mat-card class="mat-elevation-z8">
      <mat-card-title>Server Error</mat-card-title>
  
      <br />
        <mat-card-subtitle>There was an error with the server.</mat-card-subtitle>
        <img src="./assets/zdenek-machacek-unsplash.jpg" width="40%" height="50%" alt="Picture of a snowy owl sitting on the ground."/>
      <p>Photo by <a href="https://unsplash.com/@zmachacek?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Zdeněk Macháček</a> on <a href="https://unsplash.com/s/photos/snowy-owl?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
      </p>
    </mat-card>
  </div>
  

