<!--
============================================
; Title:  base-layout.component.html
; Author: Professor Krasso
; Date: 17 Sep 2021
; Modified By: Fred Marble, George Henderson, Kevin Jones
; Description: Base layout component HTML file
;===========================================
 -->

<div fxLayout="column">
  <!-- navigation -->
  <nav fxFlex>
    <mat-toolbar class="nav-style">
      <button routerLink="/" mat-button fxLayoutAlign="flex-start">
        <!-- logo -->
        <img src="../../../assets/gryff.webp" height="40px" width="40px" />
      </button>
      <!-- navbar container -->
      <div class="navbar-container" fxLayout="row" fxLayoutAlign="space-around">
        <div>
          <button class="navbar-link" routerLink="/" mat-button>
            Service Repair
          </button>
          <button class="navbar-link" routerLink="about" mat-button>
            About
          </button>
          <button class="navbar-link" routerLink="contact" mat-button>
            Contact Us
          </button>
        </div>

        <!-- profile menu -->
        <div ngbDropdown>
          <button
            mat-icon-button
            [matMenuTriggerFor]="profileMenu"
            aria-label="user profile menu"
            ngbDropdownToggle
          >
            <mat-icon>account_circle</mat-icon>
          </button>

          <mat-menu #profileMenu="matMenu">
            <p style="padding: 10px">
              Signed in as
              <span
                style="color: #008000; font-weight: 400; font-size: large"
                >{{ username }}</span
              >
              <span *ngIf="isAdmin()" style="font-weight: 400; color: #008000">
                [{{ userRole.role }}]</span
              >
            </p>
            <mat-divider></mat-divider>
            <button
              *ngIf="isAdmin()"
              mat-menu-item
              routerLink="/purchases-by-service-graph"
            >
              <mat-icon>pie_chart</mat-icon>
              Purchases Graph
            </button>

            <button
              *ngIf="isAdmin()"
              routerLink="/users"
              mat-menu-item
              [matMenuTriggerFor]="users"
            >
              <mat-icon>fingerprint</mat-icon>Configurations
            </button>
            <mat-menu #users="matMenu">
              <button *ngIf="isAdmin()" routerLink="/users" mat-menu-item>
                <mat-icon>perm_identity</mat-icon>Users
              </button>

              <button
                *ngIf="isAdmin()"
                mat-menu-item
                routerLink="/security-questions"
              >
                <mat-icon>question_answer</mat-icon>
                Security Questions
              </button>
              <button *ngIf="isAdmin()" routerLink="/roles" mat-menu-item>
                <mat-icon>security</mat-icon>Roles
              </button>
            </mat-menu>

            <button mat-menu-item (click)="signOut()">
              <mat-icon>logout</mat-icon>
              <span>Sign out</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
  </nav>

  <!-- main content -->
  <div fxFlex>
    <main class="main-content" fxFlex="100%;">
      <router-outlet></router-outlet>
    </main>
  </div>

  <!-- footer -->
  <div fxFlex>
    <footer class="footer">
      <mat-toolbar class="footer-content">
        <p>
          &copy; {{ year | date: "yyyy" }} - Bob's Computer Repair Shop -
          <a
            href="https://github.com/joneskj55/bcrs"
            class="bu-link"
            target="_blank"
            >House Gryffindor</a
          >
        </p>
      </mat-toolbar>
    </footer>
  </div>
</div>
