/*
============================================
; Title:  purchases-by-service-graph.component.css
; Author: Kevin Jones
; Date: 26 Sep 2021
; Description: Graph component CSS file
;===========================================
*/

h1 {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

@media screen and (min-width: 1600px) {
  .container {
    width: 1570px;
  }
}
@media screen and (min-width: 1900px) {
  .container {
    width: 1870px;
  }
}
