<div fxLayout="column">
  <mat-card style="margin: 1% 20% 1% 20%" class="mat-elevation-z8">
    <mat-card-title>Create Security Question</mat-card-title>

    <br />

    <form [formGroup]="form" #securityQuestionForm (ngSubmit)="create()">
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="10px">
          <mat-form-field appearance="fill">
            <mat-label>Question text</mat-label>
            <input
              type="text"
              matInput
              [formControl]="form.controls['text']"
              placeholder="Question text"
            />

            <mat-error
              *ngIf="
                form.controls.text.hasError('required') &&
                form.controls.text.touched
              "
              class="error"
            >
              Security question is a required field.
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>

      <br />
      <mat-card-actions align="end">
        <button mat-raised-button (click)="cancel()" color="gryffindor">
          Cancel
        </button>
        <button
          type="submit"
          [disabled]="!form.valid"
          mat-raised-button
          color="secondary"
        >
          Submit
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
